body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 180px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#Welcome {
    position: absolute;
    height: 800px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(#26ab56 0%, #1d89d1 100%);
    color: white;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#bio {
    width: 100%;
    padding: 50px;
    text-align: center;
}

.line {
    height: 5px;
    width: 70px;
    background: black;
    margin: 8px auto;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

p {
    margin: 25px;
    font-size: 15px;
}

.menu {
    list-style: none;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    background-color: rgb(23, 165, 118);
    z-index: 10;
    cursor: pointer;
}

.link {
    display: inline;
    color: aquamarine;
    padding-right: 25px;
    padding-left: 30px;
    font-size: 20px;
}

.link:hover {
    font-size: 25px;
    text-decoration: underline;
}

#name {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#contact iframe {
    width: 100%;
}